.ios, .md {
 
  page-new-list {
 
    .list-md[inset]{
        margin: 5px;
        margin-top: 20px;
    }

    ion-item {
      background-color: #fff;
      border-bottom: none !important;
      height: 135px;
      margin: 4px;
      margin-bottom: 7px;
      border-radius: 5px;
      width: 98%;
    }
 
    ion-label {
      white-space: normal;
    }
 
    ion-item-sliding {
      margin: 10px;
    }

    .newpost {
        background: none;
        float: right;
        bottom: 15px;
    }

    .time {
        position: absolute;
        bottom: 5px;
        color: lightgray;
    }

    .button-container {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        float: right;
        text-align: center;
    }

    .button-container > * {
          flex-direction: row;  /* allows vertical centering with align-items: center; */
  align-items: center;
  flex: 1 1 100%;  /* take up entire column */
    }

    .up {
        background: none;
        color: darkgray;
        align-items: center;
        filter: grayscale(100%);
    }

    .down {
        background: none;
        color: darkgray;
        align-items: center;
        filter: grayscale(100%);
    }

    .votes {
        align-self: center;
        text-justify: center;
        align-items: center;
        font-size: 15pt;
        color: #FBC233;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .upvote{
        background: none;
        color: #FBC233;
    }

    .downvote   {
        background: none;
        color: #FBC233;
    }
 
  }
 
}