.ios, .md {
 
  page-list {
 
    ion-item {
      background-color: #fff;
      border-bottom: none !important;
      height: 100px;
      margin: 6px;
      border-radius: 3px;
      width: 98%;
    }
 
    ion-label {
      white-space: normal;
    }
 
    ion-item-sliding {
      margin: 10px;
    }

    .newpost{
        background: none;
        float: right;
        bottom: 15px;
    
    }
    .button-container {
        float: right;
        width: 27px;
    }
    .up {
        top: 5px;
        position: fixed;
        background: none;
        color: darkgray;
    }
    .down {
        position: fixed;
        bottom: 5px;
        background: none;
        color: darkgray;
    }
    .votes {
        float: center;
        bottom: 40px;
        position: fixed;
        right: 9px;
    }
    .upvote {
        top: 5px;
        position: fixed;
        background: none;
        color: darkgreen;
    }
    .downvote {
        position: fixed;
        bottom: 5px;
        background: none;
        color: darkgreen;
    }
 
  }
 
}