page-home {
    .title-text {
        font-family: 'Lobster', cursive;
        font-size: 17pt !important;
    }

    ion-header {
        .button-md {
            box-shadow: none;
        }

        .toolbar-title {
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            -webkit-align-items: center;
            align-items: center;
            -webkit-justify-content: center;
            justify-content: center;
        }
    }
}

